.slides img{
    height: 300px
   

}
.slider{
    width: 100%;
    height: 370px;
    display: flex;
    overflow: auto;
}
body{
    background-color: #c0c0c0;
}
::-webkit-scrollbar {
     
 height: 1px;
    width: 1px;
}
@media(max-width: 450px) {
    .slides img{
        height: 80px;

    }
    .slider{
        height: 100px;
    }
    
}