
.mainnn{
    width: 100%;
}
.brandsmain{

   
   width: 90%;
   margin: auto;
   background-color: #9b9b9b;
   padding-bottom: 20px;
   margin-bottom: 10px;
 
}

.brandsmain h2{
   font-size: 35px;
   padding-top: 20px;
   padding-left: 5px;
}
.brandimg{
   display:flex;
   flex-wrap: wrap;
   width:100%;
   justify-content: center;

}
.brandlink{
   width:250px;
   margin: 5px;
}
.brandlink:hover{
   box-shadow: 1px 1px 5px #55b2c5;
}
.brandimg img{

   background-color: #fff;
   width: 100%;
   height: 100%;
}
.brandimg img:hover{
   box-sizing: 1px 1px 1px #fff;
}
.mainnn button{

   border: none;
   outline: none;
   background-color:#838383;
   padding: 10px 30px;
   border-radius: 5px;
   display: flex;
   margin: auto;
   margin-top: 20px;
   color: #fff;

}
.mainnn button:hover{
   background-color: #727171;
}
@media (max-width:450px){
   .brandsmain h2{
       font-size: 30px;
       margin-left: 2px;
   }
   .brandlink{
       width:150px;
   }
   

}