.list1,.l11,.l111,.l1111,.l1112,.l112,.l1121,.l1122,.l113,.l12,.l121,.l122,.l13{
    display: flex;
}

.list1,.l111,.l112{
    flex-direction: column;
}
.productlist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pl2{
    padding-left: 10px;
    font-size: 20px;
    border-bottom: 1px solid #838383;
}
.pl3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list1{
    width: 50%;
    height: 35vh;
    flex-direction: column;
    background-color: #b6b6b6;
    margin: 10px 0px ;
}
@media( max-width:768px){
    .list1{
        width: 90%;
    }
}
.l11{
    height: 65%;
}
.l111{
    width: 30%;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.l1111{
    height: 80%;
    align-items: center;
    padding: 5px; 
    
}

#pimg{
    height: 100%;
    
}
.l1112{
    height: 20%;

}
.l112{
    width: 70%;
}
.l1121{
    height: 20%;
    font-size:20px ;
    margin: 5px;
}
.l1122{
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #929292;
    color:#2a2a2a ;

}

.l1123{
    height: 10%;    
    background-color: #929292;
    display: flex;
    align-content: center;
    padding-left: 10px;

}
.l1123:hover{letter-spacing: 0.5px;
    transition: all 400ms ease;
}

.l11221{
    width: 49%;
    display: flex;
    align-items: center;
}
.l12{
    height: 25%;
}
.l121,.l122{
    width: 50%;
    align-items: center;
    justify-content: center;
    
    border: 1px solid #aaaaaa;
}
.l121{
    color: #4e4d4d;
    display: flex;
    text-align: center;
}
.l122{

}
.l1222{
    border: none;
    background-color: rgb(185, 1, 1);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 10px;

}

.l13{
    height: 10%;
    background-color: #adadad;
    color: rgb(115, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}