.mainn{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #a3a3a3;
    margin: auto;
    margin-top: 5px;
}
.innercart{
    display: flex;
    margin: 3px;
    flex-direction: column;
    background-color: #d6d6d6;    
    
}
.innercart:hover{
    border: 1px solid #00aaff;
}
.innercart img{
    height: 100px;
}
.innercart p{
    padding: 2px;
    font-size: 13px;
}
.cart{
    display: flex;
    overflow:scroll;
    padding-bottom: 20px;
    
}
@media(max-width:450px){
    
    .innercart p{
        font-size: 8px;
    }
    
}