.mainn{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #a3a3a3;
    margin: auto;
    margin-top: 5px;
}
.innercart{
    display: flex;
    margin: 3px;
    flex-direction: column;
    background-color: #d6d6d6;    
    width: 210px;
    height: 180px;
    scale: 1;   
}
.innercart:hover{
    
        scale: 101%;
        z-index: 1;
        box-shadow: 1px 1px 1px #2b899c;

    
}
.innerimg{
    overflow: hidden;
 }
 .innerimg img{
    height: 150px;
 }
.innercart p{
    padding: 2px;
    font-size: 13px;
}
.cart{
    display: flex;
    overflow:scroll;
    padding-bottom: 20px;
    
}
@media(max-width:450px){
    .mainn{
        width: 99%;

    }
    
    .innercart p{
        font-size: 8px;
    }
    
}