.container {
    height: 250px;
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    margin: 25px 10px;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
    justify-content: flex-end;
    cursor: pointer;

}

.img {
    width: 100%;
    text-align: center;
    padding: 5px;
    overflow: hidden;

}

.heading {

    width: 100%;
    margin-top: 30px;
}

.heading p {
    text-align: center;
}

.linkbtn {

    width: 100%;
}

#name {
    color: #4d4c4c;
    margin: 0;
    padding: 0;

}

#price {
    color: #002a32;
    margin: 0;
    padding: 5px;
    overflow: scroll;
}

.button1 {
    padding: 10px 0px;
    border: none;
    width: 100%;
    transition: background-color 0.3s ease;

}

.container:hover {
    box-shadow: 1px 1px 1px #00c3ff;

    .button1 {
        background-color: #00c3ff;
        color: #fff
    }

    ;

}


@media(max-width:450px) {
    .heading p {
        font-size: 12px;
    }

    .button1 {
        padding: 10px 24px;
        border: none;
        font-size: 14px;

    }

}