
.container{
    height: 40vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 5px;
    align-items: center;
    padding: 20px 0px;
    border-radius: 2px;
}
.container:hover{
    border: 1px solid rgb(0, 195, 255);
}
.heading p{
    text-align: center;
}
#name{
    color: #4d4c4c;
}
#price{
    color: #002a32;
}
.button1{
    padding: 20px 86px;
    border: none;
   
}
.container:hover{
   .button1{
    background-color:#00c3ff ;
    color: #fff;
   }
}