.ytparent{
    width: 100%;
}
.ytinner{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.yt{
    width: 49%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 2px;
    

}
@media (max-width:450px) {
    .ytinner{
        width: 100%;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .yt{
        width: 100%;
    }
}